html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
html { height: 100% }
body { overflow: hidden; width: 100%; height: 100%; background-color: #000; color: #fff }
.hover:hover { cursor: pointer }
#autoplay { position: absolute; top: -23px; right: 140px; width: 106px; z-index: 999; height: 20px; background-image: url("../images/autoplay.png") }
#autoplay.disabled { background-position: 0px -20px }
#sound.disabled { background-position: 0px -20px }
#sound { position: absolute; top: -23px; right: 38px; width: 84px; z-index: 999; height: 20px; background-image: url("../images/sound.png") }
#scrollContainer { overflow: hidden; width: 100%; height: 100%; position: absolute; z-index: 1 }
#status { z-index: 9999; position: fixed; bottom: 0px; right: 0px; background-color: #000; width: 150px; color: #fff; font-family: sans-serif; font-size: 9px; width: 100px; padding: 5px }
#main { overflow: hidden; position: relative; width: 100%; height: 100% }
#verticalScrollArea { position: absolute; top: 0px; left: 0px; width: 100%; height: 100% }
#horizontalScrollArea { position: absolute; height: 100%; width: 1000%; left: 100%; bottom: 0px; z-index: 51 }
.section { position: relative; height: 100%; text-align: center; margin-left: auto; margin-right: auto }
.content { position: relative; min-width: 768px; height: 100%; display: block; text-align: center; margin-left: auto; margin-right: auto }
#loader { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 999 }
#loader-icon { position: absolute; top: 50%; left: 50%; margin-top: -14px; margin-left: -14px }


/*
 * 
 */

.cbt-player-nav-section{display:block; position: absolute; z-index: 2; width: 50px; height: 50px; top: 50%; right: 50%;}
.debug .cbt-player-nav-section{border: 1px dashed red;}
#cbt-player-container { overflow: hidden; position: relative; width: 960px; height: 720px; }

#autoplay { position: absolute; top: -23px; right: 140px; width: 106px; z-index: 999; height: 20px; background-image: url("../images/autoplay.png") }
#cbt-player-main-prev { position: absolute; top: 20px; left: 40px; width: 106px; z-index: 999; height: 20px; }
#cbt-player-main-next { position: absolute; top: 20px; left: 80px; width: 106px; z-index: 999; height: 20px; }

#intro { height: 100%; position: absolute; top: 0px; left: 0px; width: 100%; background: url("../images/0/intro.jpg") top center no-repeat #000; background-size: auto 100%; overflow: hidden; position: relative; z-index: 998 }

#barre { position: absolute; bottom: 273px; left: 50%; width: 210px; height: 2px; margin-left: -106px; background-color: #575757 }
#progress { position: absolute; bottom: 0px; left: 0px; width: 0%; height: 100%; background-color: #fff }
#processing { position: absolute; bottom: 250px; left: 50%; width: 77px; height: 17px; margin-left: -38px; background-image: url("../images/loader.png") }

#section0-start { width: 150px; height: 100px; top: 50%; right: 50%; }

#section4-next-a {width: 50px; height: 50px; top: 10%; right: 50%; }
#section4-next-b {width: 50px; height: 50px; top: 40%; right: 50%; }
#section4-next-c {width: 50px; height: 50px; top: 80%; right: 50%; }



